@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
.section {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  gap: 20px;
}
body {
  width: 100%;
}
.banner {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
#slider {
  overflow: hidden;
}

#slider .images {
  position: relative;
  width: 500%;
  top: 0;
  left: 0;
  animation: slider 20s infinite;
}

#slider .images img {
  width: 20%;
  float: left;
}
@keyframes slider {
  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}
.logo img {
  width: 175px;
  height: 50px;
}
.overlay {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7));
  position: absolute;
  top: 0;
}
.header-content {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
header nav {
  text-align: right;
}
header nav a {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 8px 12px;
}
header nav a:hover {
  background: #fff;
  color: #2f5d62;
  position: relative;
}
header nav a:hover::after {
  content: '';
  width: 100%;
  height: 3px;
  left: 0;
  bottom: 0;
  position: absolute;
  background: #5cc3db;
}
.text-box {
  width: 90%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1 {
  font-size: 36px;
  margin-bottom: 20px;
}
.text-box span {
  color: #5cc3db;
}
.btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 12px 34px;
  font-size: 18px;
  background: transparent;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  border: 1px solid #5cc3db;
  background: #5cc3db;
  color: #000;
}
.about {
  position: relative;
  width: 100%;
  display: flex;
  background: #162c3b;
  overflow: hidden;
}
.about .contentBox {
  background: #162c3b;
  padding: 100px;
  padding-top: 30px;
  width: 50%;
}
.textBox {
  position: relative;
  left: -500px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.active {
  left: 0;
  opacity: 1;
}
.heading {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 50px;
}
.text {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.about .contentBox ol li {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  text-align: justify;
  letter-spacing: 1px;
  padding-bottom: 30px;
}
.imgBox1 {
  background: linear-gradient(rgba(4, 9, 30, 0.2), rgba(4, 9, 30, 0.2)), url('../homepage/img/offer.jpg');
  width: 50%;
  background-size: cover;
  background-position: center;
  position: relative;
  right: -500px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.active1 {
  right: 0;
  opacity: 0.7;
}
.services {
  background: #12222d;
  padding: 100px;
  text-align: center;
  position: relative;
}
.headingText {
  position: relative;
  width: 500px;
  left: 700px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.active2 {
  left: 400px;
  opacity: 1;
}
.pText {
  position: relative;
  left: -200px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.active3 {
  left: 0;
  opacity: 1;
}
.serviceBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
}
.serviceBox div {
  position: relative;
  background: #d2edfa;
  width: 250px;
  height: 250px;
  padding-top: 50px;
  z-index: 10;
}
.serviceBox div img {
  max-width: 100px;
}
.heading1 {
  margin-top: 10px;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.service1 {
  position: relative;
  left: -100px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.active4 {
  left: 0px;
  opacity: 1;
}
.service2 {
  position: relative;
  top: 300px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.active5 {
  top: 0px;
  opacity: 1;
}
.service3 {
  position: relative;
  left: 100px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.active6 {
  left: 0px;
  opacity: 1;
}
.technology {
  background: #5cc3db;
  width: 100%;
  padding: 100px;
  padding-top: 300px;
  margin-top: -225px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.technology .contentBox {
  max-width: 800px;
}
.technology .contentBox .text {
  font-style: normal;
  font-size: 20px;
}
.technology .imgBox2 {
  max-width: 200px;
}
.technology .imgBox2 img {
  max-width: 100%;
}
.textBox2 {
  position: relative;
  left: -100px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.active7 {
  left: 0;
  opacity: 1;
}
.imgBox2 {
  position: relative;
  left: 100px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.active8 {
  left: 0px;
  opacity: 1;
}
.client {
  background: #162c3b;
  padding: 100px;
  text-align: center;
}
.client .imgBox3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.client .imgBox3 img {
  width: 200px;
  margin: 20px;
  opacity: 0.25;
  cursor: pointer;
}
.client .imgBox3 img:hover {
  opacity: 1;
}
.headingText1 {
  position: relative;
  width: 500px;
  left: 700px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.active9 {
  left: 400px;
  opacity: 1;
}
.pText1 {
  position: relative;
  left: -200px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.active10 {
  left: 0px;
  opacity: 1;
}
.imgBox3 {
  position: relative;
  top: 200px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.active11 {
  top: 0px;
  opacity: 1;
}
.feedBack {
  position: relative;
  padding: 100px;
  background: #12222d;
  text-align: center;
}
.feedBack .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  flex-wrap: wrap;
}
.feedBack .container .contentBox {
  background: #fff;
  padding: 60px 50px;
  width: 550px;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.contentBox p {
  font-style: italic;
  color: #000;
}
.contentBox h3 {
  width: 100%;
  text-align: end;
  font-weight: 500;
  color: #3f8ffc;
}
.headingText2 {
  position: relative;
  top: -200px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.active12 {
  top: 0px;
  opacity: 1;
}
.contentBox1 {
  position: relative;
  left: -100px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.active13 {
  left: 0px;
  opacity: 1;
}
.contentBox2 {
  position: relative;
  left: 100px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.active14 {
  left: 0px;
  opacity: 1;
}
.renderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  flex-wrap: wrap;
  margin-top: 20px;
}
.renderBox {
  background: #fff;
  padding: 60px 30px;
  width: 550px;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-bottom: 20px;
}
.renderBox p {
  font-style: italic;
  color: #000;
  padding-bottom: 20px;
  max-width: 500px;
}
.renderBox h3 {
  width: 100%;
  text-align: end;
  font-weight: 500;
  color: #3f8ffc;
}
.contact {
  padding: 100px;
  background: #162c3b;
  text-align: center;
}
.headingText3 {
  position: relative;
  top: -200px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.active15 {
  top: 0px;
  opacity: 1;
}
.pText2 {
  position: relative;
  left: -200px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.active16 {
  left: 0px;
  opacity: 1;
}
.quaries {
  position: relative;
  width: 100%;
  display: flex;
  background: #162c3b;
  overflow: hidden;
}
.imgBox4 {
  position: relative;
  background: url('../homepage/img/Comment.jpg');
  background-size: cover;
  background-position: center;
  width: 50%;
}
.redBg {
  background: #d2edfa !important;
  background-size: cover;
  background-position: center;
}
.form .inputBox {
  margin-bottom: 40px;
}
.form .inputBox input {
  width: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 300;
  color: #000;
  border-bottom: 2px solid #000;
}
.form .inputBox input::placeholder {
  color: #000;
}
.form .inputBox textarea {
  width: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 300;
  color: #000;
  min-height: 150px;
  border-bottom: 2px solid #000;
}
.form .inputBox textarea::placeholder {
  color: #000;
}
.form .inputBox button {
  width: 150px;
  height: 50px;
  font-size: 18px;
  border-radius: 25px;
  cursor: pointer;
  background: #162c3b;
  color: #d2edfa;
  font-weight: 400;
  outline: none;
  box-shadow: 5px 5px 5px #162c3b;
}
.form .inputBox button:active {
  background: #d2edfa;
  color: #000;
}
.form {
  position: relative;
  left: -500px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.active17 {
  left: 0px;
  opacity: 1;
}
.footer {
  background: #162c3b;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer ul li {
  list-style: none;
}
.footer ul li a {
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
}
.footer ul li a img {
  width: 20px;
  height: 20px;
}
