@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  font-family: 'Kalam', cursive;
}
.background-img {
  position: relative;
  background-image: url('../homepage/img1/image1.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -10;
  width: 100%;
  height: auto;
}
#login {
  display: block;
}
#formLogo {
  z-index: 10;
  height: 150px;
  width: 150px;
  display: block;
  margin-left: 20px;
}
form {
  height: auto;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  box-shadow: 0 0 10px #5cc3db;
  border-radius: 60px;
}
.formLogo {
  display: block;
  margin-left: 30%;
  margin-right: 70%;
  width: 50%;
}
.inputStyle {
  text-align: center;
}
.inputStyle label {
  margin-left: -250px;
}
input {
  width: 70%;
  padding: 12px 20px;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 30px;
  outline: none;
  border: 1px solid #5cc3db;
}
label {
  margin-left: 20px;
}
fieldset {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 2px;
}
fieldset {
  background-color: white;
  border: 1px rgb(153, 183, 248) solid;
  border-radius: 60px;
  width: 500px;
  height: 500px;
}
button {
  outline: none;
  width: 125px;
  height: 35px;
  padding: 5px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  background: #5cc3db;
}
.center {
  margin-left: 175px;
  margin-top: 20px;
}
.center #login {
  padding: 5px;
  font-size: 15px;
  cursor: pointer;
}
legend {
  font-size: 30px;
}
.a {
  margin-left: -150px;
}
.a a {
  text-decoration: none;
}
.alert {
  padding: 20px;
  background-color: #df402b;
  color: white;
  margin-bottom: 15px;
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}
