@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  position: relative;
  background-image: url('./homepage/img1/image1.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -10;
  width: 100%;
  height: auto;
}
#login {
  display: block;
}

#formLogo {
  height: 150px;
  width: 150px;
  display: block;
}
form {
  height: auto;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: blur(0px);
  margin-top: 100px;
  box-shadow: 0 0 10px #5cc3db;
  border-radius: 60px;
}
.formLogo {
  display: block;
  margin-left: 35%;
  margin-right: 70%;
  width: 50%;
}
.inputStyle {
  text-align: center;
}
.inputStyle label {
  margin-left: -300px;
}
input {
  width: 80%;
  padding: 12px 20px;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 30px;
  outline: none;
  border: 1px solid #5cc3db;
}
label {
  margin-left: 20px;
}
.selector {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  margin-top: 20px;
}
.selector p {
  margin-left: -70px;
}
.selector select {
  width: 200px;
  text-align: center;
  height: 30px;
  margin-left: -180px;
}
fieldset {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
  border-width: 2px;
}
fieldset {
  background-color: white;
  border: 1px rgb(153, 183, 248) solid;
  border-radius: 60px;
  width: 500px;
  height: 600px;
}
.forms {
  display: grid;
}
#backgroundimg {
  position: relative;
  background-image: url('../homepage/img1/image1.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -10;
  width: 100%;
  height: auto;
}
.firstForm form div {
  display: inline;
}
.secondForm form div {
  display: inline;
}
legend {
  font-size: 50px;
  color: rgb(46, 180, 180);
  font-weight: 900;
}
.submit1 {
  margin-left: 170px;
  margin-top: 20px;
}
button {
  outline: none;
  width: 150px;
  height: 35px;
  padding: 5px;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  background: #5cc3db;
}

.checkbox {
  margin-left: 50px;
  font-size: 20px;
}

#checkbox {
  width: 20px;
  height: 20px;
  text-align: center;
}
.checkbox label {
  width: 200px;
  margin-left: 0;
}
.a a {
  margin-left: 150px;
  text-decoration: none;
  cursor: pointer;
  color: #000;
}
